# Lernmodul Texte

1. Einführung
2. Daten
3. Modell
4. Verwendung
5. Abschluss

## 1. Einführung

Daten -> Modell -> Verwendung

Eingabe -> Modell -> Ausgabe

Merkmale -> Modell -> Vorhersage

### 1.1 Motivation

### 1.2 Voraussetzungen

In [1]:
import pandas as pd # Dataframes
import matplotlib.pyplot as plt # Plots
import nltk # Natural Language Processing

## 2. Daten

_Datensatz_ - Eine Sammlung von Beispielen

_Beispiel_ - Eine Sammlung von Merkmalen

_Merkmal_ - Ein numerischer oder symbolischer Wert

### 2.1 Daten beschaffen

In [79]:
tweets_biden = pd.read_csv('./tweets_biden_small.csv', lineterminator='\n', parse_dates=True, nrows=100)

### 2.2 Daten erkunden

In [68]:
print("Wie sieht der Datensatz aus?")
tweets_biden.head()

Wie sieht der Datensatz aus?

,Unnamed: 0,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at\r
0,0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,...,1860.0,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00\r
1,1,2020-10-15 00:00:18,1.316529e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,8.099044e+08,Cheri A. 🇺🇸,Biloximeemaw,...,6628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.517827283\r
2,2,2020-10-15 00:00:20,1.316529e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3.494182e+09,Flag Waver,Flag_Wavers,...,1536.0,Golden Valley Arizona,46.304036,-109.171431,NaN,United States of America,North America,Montana,MT,2020-10-21 00:00:01.035654566\r
3,3,2020-10-15 00:00:21,1.316529e+18,@chrislongview Watching and setting dvr. Let’s...,0.0,0.0,Twitter for iPhone,8.242596e+17,Michelle Ferg,MichelleFerg4,...,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.553481849\r
4,4,2020-10-15 00:00:22,1.316529e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032807e+18,the Gold State,theegoldstate,...,390.0,"California, USA",36.701463,-118.755997,NaN,United States of America,North America,California,CA,2020-10-21 00:00:02.071309132\r

In [58]:
print("Wie viele Werte liegen insgesamt vor?")
tweets_biden.size

Wie viele Werte liegen insgesamt vor?

210

In [28]:
print("Wie viele Beispiele liegen insgesamt vor?")
tweets_biden.shape[0]

Wie viele Beispiele liegen im Datensatz?

10

In [27]:
print("Wie viele Werte liegen pro Beispiel vor?")
tweets_biden.shape[1]

Wie viele Werte liegen pro Beispiel im Datensatz?

21

In [40]:
print("Welche Merkmale bzw. Wertetypen liegen vor?")
tweets_biden.dtypes

Welche Merkmale bzw. Wertetypen liegen vor?

created_at               object
tweet_id                float64
tweet                    object
likes                   float64
retweet_count           float64
source                   object
user_id                 float64
user_name                object
user_screen_name         object
user_description         object
user_join_date           object
user_followers_count    float64
user_location            object
lat                     float64
long                    float64
city                     object
country                  object
continent                object
state                    object
state_code               object
collected_at             object
dtype: object

In [41]:
print("Wie sehen die numerischen Wertebereiche aus?")
tweets_biden.describe()

Wie sehen die numerischen Wertebereiche aus?

,tweet_id,likes,retweet_count,user_id,user_followers_count,lat,long
count,1.000000e+01,10.000000,10.000000,1.000000e+01,10.000000,4.000000,4.000000
mean,1.316529e+18,0.200000,0.100000,4.405293e+17,2304.500000,37.663833,-98.936377
std,4.619759e+10,0.421637,0.316228,5.823485e+17,2605.805751,8.844577,18.044607
min,1.316529e+18,0.000000,0.000000,1.994033e+07,27.000000,25.774270,-118.755997
25%,1.316529e+18,0.000000,0.000000,3.194626e+08,174.750000,33.969665,-111.567573
50%,1.316529e+18,0.000000,0.000000,2.152043e+09,1466.500000,39.288512,-98.397926
75%,1.316529e+18,0.000000,0.000000,9.806701e+17,3931.500000,42.982680,-85.766731
max,1.316529e+18,1.000000,1.000000,1.275659e+18,6628.000000,46.304036,-80.193660

### 2.2.2 Textdaten analysieren

In [54]:
print("Es folgt ein symbolisches Wertebeispiel in Form eines Twitter Tweets:")
tweets_only = tweets_biden['tweet']
tweets_only[0]

Es folgt ein symbolisches Wertebeispiel in Form eines Twitter Tweets:

'#Elecciones2020 | En #Florida: #JoeBiden dice que #DonaldTrump solo se preocupa por él mismo. El demócrata fue anfitrión de encuentros de electores en #PembrokePines y #Miramar. Clic AQUÍ ⬇️⬇️⬇️\n⠀\n🌐https://t.co/qhIWpIUXsT\n_\n#ElSolLatino #yobrilloconelsol https://t.co/6FlCBWf1Mi'

## 2.3 Textdaten aufbereiten

### 2.3.1 Textdaten tokenisieren